<div class="container-fluid">
    <div class="row">
        <div class="space card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">How many Users do we have?</h4>
                <p class="card-text">Number of users:
                    <span class="badge badge-primary badge-pill">{{listUser.length}}</span>
                </p>
            </div>
        </div>
        <div class=" space card border-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Secondary card title</h4>
                <p class="card-text">Active user number:
                    <span class="badge badge-primary badge-pill">{{ listUserActive}}</span>
                </p>
                <p class="card-text">Not active user number:
                    <span class="badge badge-primary badge-pill">{{listUser.length-listUserActive}}</span>
                </p>
            </div>
        </div>
        <div class=" space card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Success card title</h4>
                <p class="card-text">Balance of money:
                    <span class="badge badge-primary badge-pill">{{sumBalance}}</span>
                </p>
            </div>
        </div>
        <div class=" space card border-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Ours user's favourite fruits</h4>
                <p class="card-text">Number of apple's lovers:
                    <span class="badge badge-primary badge-pill">{{appleLover}}</span>
                </p>
                <p class="card-text">Number of banana's lovers:
                    <span class="badge badge-primary badge-pill">{{bananaLover}}</span>
                </p>
                <p class="card-text">Number of strawberry's lovers:
                    <span class="badge badge-primary badge-pill">{{strawberryLover}}</span>
                </p>
            </div>
        </div>
    </div>
</div>