<div class="container-fluid">
    <div class="row">
        <div class="space card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Total user number:</p>
            </div>
        </div>
        <div class=" space card border-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Secondary card title</h4>
                <p class="card-text">Active user number:</p>
                <p class="card-text">Not active user number:</p>
            </div>
        </div>
        <div class=" space card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Success card title</h4>
                <p class="card-text">Balance of money:</p>
            </div>
        </div>
        <div class=" space card border-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Danger card title</h4>
                <p class="card-text">Number of apple's lovers:</p>
            </div>
        </div>



    </div>
</div>