<div class="container">
  <h1>
    {{ title }}
  </h1>
  <div class="row">
    <div class="col-6 ">
      <input [(ngModel)]="filterPhrase"  type="text" class="form-control" placeholder="Search">
    </div>
  </div>
  <button class="btn btn-secondary" routerLink="/newUser"> Add new User
    <img src="https://img.icons8.com/color/48/000000/add-user-group-woman-man.png"></button>
</div>
<table class="table">
  <thead>
    <tr>
      <th (click)="setSorterKey('id')" >#
        <img class="up"
        (click)="hideUp()"
        [ngStyle]="{'display':displayUp}" src="https://img.icons8.com/ios/24/000000/up.png">
        <img class="down"
        (click)=" showDown()"
        [ngStyle]="{'display':displayDown}"
          src="https://img.icons8.com/ios/24/000000/down.png">
      </th>
      <th (click)="setSorterKey('name')">Name
        <img class="up"
        (click)="hideUp()"
        [ngStyle]="{'display':displayUp}" src="https://img.icons8.com/ios/24/000000/up.png">
        <img class="down"
        (click)=" showDown()"
        [ngStyle]="{'display':displayDown}"
          src="https://img.icons8.com/ios/24/000000/down.png">
      </th>
      <th (click)="setSorterKey('isActive')">Active
        <img class="up"
        (click)="hideUp()"
        [ngStyle]="{'display':displayUp}" src="https://img.icons8.com/ios/24/000000/up.png">
        <img class="down"
        (click)=" showDown()"
        [ngStyle]="{'display':displayDown}"
          src="https://img.icons8.com/ios/24/000000/down.png">
      </th>
      <th (click)="setSorterKey('age')">Age
        <img class="up"
        (click)="hideUp()"
        [ngStyle]="{'display':displayUp}" src="https://img.icons8.com/ios/24/000000/up.png">
        <img class="down"
        (click)=" showDown()"
        [ngStyle]="{'display':displayDown}"
          src="https://img.icons8.com/ios/24/000000/down.png">
      </th>
      <th (click)="setSorterKey('email')">Email
        <img class="up"
        (click)="hideUp()"
        [ngStyle]="{'display':displayUp}" src="https://img.icons8.com/ios/24/000000/up.png">
        <img class="down"
        (click)=" showDown()"
        [ngStyle]="{'display':displayDown}"
          src="https://img.icons8.com/ios/24/000000/down.png">
      </th>
      <th (click)="setSorterKey('phone')">Phone
        <img class="up"
        (click)="hideUp()"
        [ngStyle]="{'display':displayUp}" src="https://img.icons8.com/ios/24/000000/up.png">
        <img class="down"
        (click)=" showDown()"
        [ngStyle]="{'display':displayDown}"
          src="https://img.icons8.com/ios/24/000000/down.png">
      </th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of userList | filterpipe: filterPhrase:changeCounter | order: orderKey:orderDirection:changeCounter">
      <td>{{ user.id }}</td>
      <td>{{ user.name.last }} {{ user.name.first }}</td>
      <td>{{ user.isActive }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>
        <button (click)="editUser(user)"
                  class="btn btn-info">
                Edit 
                <img src="https://img.icons8.com/color/48/000000/edit-user-female.png">
        </button>
      </td>
      <td>
        <button (click)="openModal(user)"
          class="btn btn-danger">Delete
          <img src="https://img.icons8.com/color/48/000000/remove-user-male.png"></button>         
      </td>
       </tr>
  </tbody>
</table>

<!-- This is the modal, for the delete button -->

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <img src="https://img.icons8.com/color/50/000000/break.png">
          <button type="button" class="close" data-dismiss="modal" 
          aria-label="Close"
          (click)="onCloseHandled()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This action will delete the selected user:
          <br>
            ID number: {{userID.id}},
            <br>
            name: {{userID.name.last}} {{userID.name.first}}
            <br> 
            Are you sure? </p>
        </div>
        <div class="modal-footer">
          <button (click)="onDelete()"
          type="button" class="btn btn-primary">Yes</button>
          <button 
          (click)="onCloseHandled()"          
          type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>